<div class="container">

  <% @departments.each do |department| %>

    <div class="col-sm-6">

      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="pull-right" style="margin-top: 10px;margin-right: 5px;"><a href="#">View all</a></div>
            <h4>Coming Soon in <%= department.name %></h4>
        </div>

        <div class="panel-body">

          <div class="row">

            <% #TODO: DB is still hit for all Items. .first(6) is just a hack for now %>
            <% department.items.first(6).each do |item| %>

              <div class="product col-sm-6 col-md-4">

                <div class="product-title"><%= link_to item.title.size > 16 ? item.title.first(13) + '…' : item.title, root_path %></div>

                <div><%= image_tag item.image(:thumb), class: 'item-img' %></div>

                <% if item.lowest_price > 0 %>
                  <div style="color: #e50000"><%= number_to_currency item.lowest_price %></div>
                <% end %>

                <div>
                  <% if item.release_date %>
                    <span style="color: forestgreen">
                      <%= distance_of_time_in_words_to_now(item.release_date).gsub('about', '') %> left
                    </span>
                  <% else %>
                    TBA
                  <% end %>
                </div>

              </div>
            <% end %>

          </div><!-- row        -->
        </div>  <!-- panel-body -->
      </div>    <!-- panel      -->
    </div>      <!-- col-sm-6   -->

  <% end %>

</div><!-- container -->