<div class="container">

  <% @items.each do |category_array| %>

    <div class="col-sm-6">

      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="pull-right" style="margin-top: 10px;margin-right: 5px;"><a href="#">View all</a></div>
            <h4>Coming Soon for <%= category_array.first %></h4>
        </div>

        <div class="panel-body">

          <div class="row">

            <% category_array.last.each do |item| %>

              <div class="product col-sm-6 col-md-4">

                <div class="product-title"><%= link_to item.title.size > 18 ? item.title.first(15) + '…' : item.title, root_path %></div>

                <div><%= image_tag item.image(:thumb), class: 'item-img' %></div>

                <% if item.products.first.price > 0 %>
                  <div style="color: #e50000"><%= number_to_currency item.products.first.price %></div>
                <% end %>

                <div>
                  <% if item.release_date %>
                    <span style="color: forestgreen">
                      <%= distance_of_time_in_words_to_now(item.release_date).gsub('about', '') %> left
                    </span>
                  <% else %>
                    TBA
                  <% end %>
                </div>

                <!--<div><%= link_to 'Pre-order', item.products.first.url, class: 'preorder-link', target: '_blank' %></div>-->

              </div>
            <% end %>

          </div><!-- row        -->
        </div>  <!-- panel-body -->
      </div>    <!-- panel      -->
    </div>      <!-- col-sm-6   -->

  <% end %>

</div><!-- container -->