<% content_for :title,
   raw("#{@platform.name + ' | ' if @platform.present?}#{t("dept.#{@department.name}")}") %>

<div class="container styled-container dept-container">

  <div id="platform-select-no-js" class="platform-select-container">
    <%= form_for @department, method: :get do |f| %>

      <%= select_tag 'platform', options_for_select(
          @department.platforms.collect{ |p| [p.name, p.id] }),
                     { prompt: print_selected_platform(@platform, @department) } %>

      <%= f.submit 'GO!', class: 'btn btn-default btn-xs', style: 'display:inline;' %>
    <% end %>
  </div>

  <div id="platform-select-js" class="dropdown platform-select-container">

    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      <%= print_selected_platform(@platform, @department) %>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <% @department.platforms.each do |platform| %>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="<%= short_plat_path(@department, platform: platform.friendly_id) %>">
            <%= platform.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

<!--  <div class="platform-container">
    <% @department.platforms.each do |platform| %>
      <% if @platform.present? && @platform.name == platform.name %>
        <a class="btn btn-default btn-sm active" href="<%= short_dept_path(@department) %>">
      <% else %>
        <a class="btn btn-default btn-sm" href="<%= short_plat_path(@department, platform: platform.friendly_id) %>">
      <% end %>
        <%= platform.name %>
      </a>
    <% end %>
  </div>-->

  <%= render 'department', department: @department %>

  <br>

  <div class="pagination-container">
    <%= will_paginate @items,
              renderer:       BootstrapPagination::Rails,
              inner_window:   1,
              outer_window:   0,
              previous_label: '&laquo;',
              next_label:     '&raquo;'  %>
  </div>

</div>