<div class="container form-container" style="max-width: 400px;">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4>Confirm Details</h4>
    </div>

    <%= render 'shared/form_errors', resource: @user %>

    <% if @existing_user %>
      <div class="alert alert-warning alert-form">
        The e-mail address <strong><%= @existing_user.email %></strong> is
        already linked with an account. If you're the owner of this account,
        please <%= link_to 'login', new_user_session_path %> to link additional providers.
      </div>
    <% end %>

    <div class="panel-body">

      <%= form_for(@user, url: create_identity_user_registration_path) do |f| %>

        <div class="form-group">
          <%= f.label :email, class: 'control-label' %>
          <%= f.email_field :email, class: 'form-control input-sm', autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.submit value: 'Confirm', class: 'btn btn-primary btn-block btn-bottom' %>
        </div>

        <%= f.fields_for :identities do |identity| %>
          <!--TODO: Add additional fields here-->
          <%= identity.hidden_field :uid %>
          <%= identity.hidden_field :provider %>
        <% end %>

      <% end %>

    </div>

  </div>

</div>