<% #TODO: Try to have variation and creator where available. Look up SEO best practices
   content_for :title, @item.title +
    (@item.creator ? ' - ' + @item.creator : ' | ' + t("dept.#{@item.department.name}")) %>
<% content_for :meta_keywords, nil %>
<% content_for :meta_description, nil %>

<div class="container styled-container" style="max-width: 680px;">
  <div class="panel">
    <div class="panel-body">

      <h2 class="item-title">
        <%= @item.title %> <%= "[#{@item.variation}]" unless @item.variation.blank? %>
        <% if is_in_music_dept? @item %>
          <div class="item-creator text-muted"><%= @item.creator %></div>
        <% end %>
      </h2>

      <h2 class="item-title item-icon">
        <a href="<%= short_dept_path(@item.department) %>">
          <i class="glyphicon glyphicon-<%= @item.department.name.downcase %>"></i>
        </a>
      </h2>

      <% if @item.platform %>
        <h3 class="item-title item-platform">
          <a class="label label-<%= @item.department.name %>" href="<%= short_plat_path(@item.department, platform: @item.platform) %>">
              <%= @item.platform.name %>
          </a>
        </h3>
      <% end %>

      <div class="row">
        <div class="col-sm-5">

          <div class="item-img-block">

            <div class="item-img">
              <div class="wrapper">
                <%= image_tag @item.image(:show), width: 240 %>
              </div>
            </div>

              <div class="btn btn-sm btn-default btn-block" style="margin: 10px 0;">
                <%= print_time_to_release(@item) %>
              </div>
<!--
            <div class="item-control">
              <div class="btn-group-justified">
                <a class="btn btn-sm btn-default">
                  <i class="glyphicon glyphicon-star-empty"></i>
                </a>
              </div>
            </div>
-->
            <div id="sharethis-container" style="text-align: center;">
              <span st_url="<%= item_url(@item) %>" st_title="<%= "#{print_time_to_release(@item)} until #{@item.title} is released!" %>" st_image="<%= File.join(root_url, @item.image(:thumb)) %>" st_via="launchbro" class='st_facebook_large'   displayText='Facebook'></span>
              <span st_url="<%= item_url(@item) %>" st_title="<%= "#{print_time_to_release(@item)} until #{@item.title} is released!" %>" st_image="<%= File.join(root_url, @item.image(:thumb)) %>" st_via="launchbro" class='st_twitter_large'    displayText='Tweet'></span>
              <span st_url="<%= item_url(@item) %>" st_title="<%= "#{print_time_to_release(@item)} until #{@item.title} is released!" %>" st_image="<%= File.join(root_url, @item.image(:thumb)) %>" st_via="launchbro" class='st_googleplus_large' displayText='Google +'></span>
              <span st_url="<%= item_url(@item) %>" st_title="<%= "#{print_time_to_release(@item)} until #{@item.title} is released!" %>" st_image="<%= File.join(root_url, @item.image(:thumb)) %>" st_via="launchbro" class='st_sharethis_large'  displayText='ShareThis'></span>
            </div>

          </div>

        </div>

        <div class="col-sm-7">
          <div style="width: 100%;text-align: center;">
          <% @item.list_products.each do |product| %>
            <a style="font-size: 90%;" href="<%= product.url %>" target="_blank" class="btn btn-<%= product.store.name.downcase %>">
              <%= product.store.name %> -
              <%= product.price && product.price > 0 ? number_to_currency(product.price) : 'TBC' %> &raquo;
            </a>
          <% end %>
          </div>

          <div class="item-desc">
            <%= print_item_description(@item) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>