<div class="container dept-container" style="max-width: 680px;">
  <div class="panel">
    <div class="panel-body">

      <h2 class="item-title">
        <%= @item.title %> <%= "[#{@item.variation}]" unless @item.variation.blank? %>
        <% if is_in_music_dept? @item %>
          <div class="item-creator text-muted"><%= @item.creator %></div>
        <% end %>
      </h2>

      <h2 class="item-title item-icon">
        <a href="<%= department_path(@item.department) %>">
          <i class="glyphicon glyphicon-<%= @item.department.name.downcase %>"></i>
        </a>
      </h2>

      <h3 class="item-title item-platform">
        <a class="label label-<%= btn_class(@item) %>" href="<%= department_path(@item.department, platform: @item.platform) %>">
          <%= @item.platform.name %>
        </a>
      </h3>

      <div class="row">
        <div class="col-sm-5">

          <div class="item-img-block">


            <div class="item-img">
              <div class="wrapper">
                <%= image_tag @item.image(:show), width: 240 %>
              </div>
            </div>

            <div class="item-control">

              <div class="btn btn-sm btn-default btn-block" style="border-bottom: 1px solid #ccc;">
                <%= print_time_to_release(@item) %>
              </div>

              <div class="btn-group-justified">
                <a class="btn btn-sm btn-default" style="border-right: 1px solid #ccc;">
                  <i class="glyphicon glyphicon-share-alt"></i>
                </a>
                <a class="btn btn-sm btn-default">
                  <i class="glyphicon glyphicon-star-empty"></i>
                </a>
              </div>

            </div>

          </div>

        </div>

        <div class="col-sm-7">
          <div style="width: 100%;text-align: center;">
          <% @item.list_products.each do |product| %>
            <a style="font-size: 90%;" href="<%= product.url %>" target="_blank" class="btn btn-<%= product.store.name == 'Play' ? 'danger' : 'warning'%>">
              <%= product.store.name %> -
              <%= product.price && product.price > 0 ? number_to_currency(product.price) : 'TBC' %> &raquo;
            </a>
          <% end %>
          </div>

          <div class="item-desc">
            <%= raw @item.description.gsub("\n", '<br>') if @item.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>