<div class="container" style="max-width: 680px;" xmlns="http://www.w3.org/1999/html">
  <div class="panel">
    <div class="panel-body">

      <h2 class="item-title">
        <%= @item.title %> <%= "[#{@item.variation}]" unless @item.variation.blank? %>
        <% if is_on_music_dept? @item %>
          <div class="item-creator text-muted"><%= @item.creator %></div>
        <% end %>
      </h2>

      <h2 class="item-title item-icon">
        <a href="<%= department_path(@item.department) %>">
          <i class="glyphicon glyphicon-<%= @item.department.name.downcase %>"></i>
        </a>
      </h2>

      <h3 class="item-title item-platform">
        <a class="label label-<%= btn_class(@item) %>" href="<%= department_path(@item.department, platform: @item.platform) %>">
          <%= @item.platform.name %>
        </a>
      </h3>

      <div class="row">
        <div class="col-sm-5">

          <div class="item-img-block">

            <div class="item-img"><%= image_tag @item.image(:show), width: 240 %></div>

            <div class="item-control">

              <div class="btn btn-sm btn-default btn-block" style="border-bottom: 1px solid #ccc;">
                <%= print_time_to_release(@item) %>
              </div>

              <div class="btn-group-justified">
                <a class="btn btn-sm btn-default" style="border-right: 1px solid #ccc;">
                  <i class="glyphicon glyphicon-share-alt"></i>
                </a>
                <a class="btn btn-sm btn-default">
                  <i class="glyphicon glyphicon-star-empty"></i>
                </a>
              </div>

            </div>

          </div>

        </div>

        <div class="col-sm-7">

          <% @item.products.each do |product| %>
            <a href="<%= product.url %>" target="_blank" class="btn btn-sm btn-warning btn-block">
              <%= product.store.name %>:
              <%= product.price > 0 ? number_to_currency(product.price) : 'TBC' %> &raquo;
            </a>
          <% end %>

          <div style="margin-top: 20px;font-size: 105%;">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a
              type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged. It was popularised in the 1960s
              with the release of Letraset sheets containing Lorem Ipsum passages, and more
              recently with desktop publishing software like Aldus PageMaker including
              versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>