<%# TODO: Clean up the nasty logic in this view %>
<div class="footer">
  <div class="row">

    <div class="col-sm-3">
      <h4 class="footer-heading">
        <a href="<%= root_path %>"><%= t('site.brand') %></a>
      </h4>
      <div class="footer-separator"></div>
      <%= t('site.description') %>
      <br><br>© <%= t('site.brand') %> 2014
    </div>

    <div class="col-sm-3">
      <% games = @departments.detect {|d| d[:name].downcase == 'games' } %>
      <h4 class="footer-heading">
        <a href="<%= short_dept_path(games) %>">
          <%= t("dept.#{games.name}") %>
        </a>
      </h4>
      <div class="footer-separator <%= games.name.downcase %>-colour"></div>
      <% games.platforms.each do |platform| %>
        <%= link_to platform.name, short_plat_path(games, platform: platform.friendly_id) %><br>
      <% end %>
      <br>
    </div>

    <div class="col-sm-3">
      <% @departments.select {|d| d[:name].downcase != 'games' }.each do |dept| %>
        <h4 class="footer-heading">
          <a href="<%= short_dept_path(dept) %>"><%= t("dept.#{dept.name}") %></a>
        </h4>
        <div class="<%= dept.name.downcase %>-colour footer-separator"></div>
        <% dept.platforms.each do |platform| %>
          <%= link_to platform.name, short_plat_path(dept, platform: platform.friendly_id) %><br>
        <% end %>
        <br>
      <% end %>
    </div>

    <div class="col-sm-3">
      <h4 class="footer-heading"><%= t('site.follow_us') %></h4>
      <div class="footer-separator"></div>
      <%#= image_tag 'tw_lg.png',  size: '40x40', class: 'footer-sc', style: 'margin-left:5px; margin-right: 10px;' %>
      <%#= image_tag 'fc_lg.png', size: '40x40', class: 'footer-sc', style: 'margin-right: 10px;' %>
      <a href="https://plus.google.com/113738962287501281526" rel="publisher">
        <%= image_tag 'gp_lg.png', size: '40x40', class: 'footer-sc' %>
      </a>
    </div>

  </div>
</div>