<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{yield(:title)} | " unless yield(:title).blank? %><%= t('site.brand') %><%= ' - Coming soon in music, video and games' if yield(:title).blank? %></title>
    <meta charset='utf-8' content='text/html' http-equiv='Content-Type'>
    <meta name="keywords" content="<%= yield(:meta_keywords).blank? ? 'Pre-orders, music, video, games, coming soon, UK' : yield(:meta_keywords) %>" />
    <meta name="description" content="<%= yield(:meta_description).blank? ? t('site.description') : yield(:meta_description) %>" />
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'respond.min', 'data-turbolinks-track' => true %>
    <![endif]-->
  </head>
  <body>

  <%= render 'layouts/nav' %>

  <div class="sections-wrapper">
    <% @departments.each do |dept| %>
      <div class="section-heading <%= dept.name %>-colour">
        <a href="<%= short_dept_path(dept) %>">
          <i class="glyphicon glyphicon-<%= dept.name %>"></i>
          <span><%= t("dept.#{dept.name}") %></span>
        </a>
      </div>
    <% end %>
  </div>

  <div style="display: block;clear: both;">

  <% if notice.present? %>
    <div class="alert alert-success alert-dismissable site-wide-alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
  <% elsif alert.present? %>
    <div class="alert alert-danger alert-dismissable site-wide-alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    </div>
  <% end %>

  </div>

  <%= yield %>

  <%= render 'layouts/footer' %>

  <% if Rails.env.production? #------------- Google Analytics code ----------------# %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49145988-3', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
  </body>
</html>