<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>LaunchBro</title>
  <meta charset='utf-8' content='text/html' http-equiv='Content-Type'>
  <meta content='LaunchBro description.' name='Description'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'respond.min', 'data-turbolinks-track' => true %>
  <![endif]-->
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-links">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">LaunchBro</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-nav-links">
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <li><a href="<%= edit_user_registration_path %>">Account</a></li>
          <li>
            <%= form_tag destroy_user_session_path, method: :delete do %>
              <%= submit_tag 'Log out', class: '' %>
            <% end %>
          </li>
        <% else %>
          <li><a href="<%= new_user_registration_path %>">Register</a></li>
          <li><a href="<%= new_user_session_path %>">Login</a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="btn-group btn-group-justified">
  <% Department.all.each do |dept| %>

    <div class="dropdown btn-group">

      <button class="btn dropdown-toggle section-heading <%= dept.name.downcase %>-colour" type="button" id="section-headings" data-toggle="dropdown">
        <a href="<%= department_path(dept) %>">
          <i class="glyphicon glyphicon-<%= dept.name.downcase %>"></i><span><%= dept.name.upcase %></span>
        </a>
      </button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="section-headings">
        <% dept.platforms.each do |platform| %>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="<%= department_path(dept, platform: platform.id) %>">
              <%= platform.name %>
            </a>
          </li>
        <% end %>
      </ul>

    </div>

  <% end %>
</div>

<div style="display: block;clear: both;">

<% if notice %>
  <div class="alert alert-success alert-dismissable site-wide">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
<% elsif alert %>
  <div class="alert alert-danger alert-dismissable site-wide">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= alert %>
  </div>
<% end %>

</div>

<%= yield %>

<div id="footer" style="background-color:#404040;width: 100%;padding: 25px;margin-top: 20px">

  <div class="container" style="color: #ffffff;">
    <div class="row">
      <div class="col-sm-3">
        <h4 style="font-weight: 200;border-bottom: 1px solid #f2f2f2;padding-bottom: 8px;">Site Map</h4>
        Home<br>
        Login<br>
        Sign Up<br>
        About<br><br>
      </div>

      <div class="col-sm-3">
        <h4 style="font-weight: 200;border-bottom: 1px solid #c93b2a;padding-bottom: 8px;">Games</h4>
        Nintendo 3DS<br>
        PC & Mac<br>
        PlayStation 4<br>
        PlayStation 3<br>
        Xbox One<br>
        Xbox 360<br><br>
      </div>

      <div class="col-sm-3">
        <h4 style="font-weight: 200;border-bottom: 1px solid #43af51;padding-bottom: 8px;">DVD & Blu-Ray</h4>
        DVD<br>
        Blu-ray<br>
        Download<br><br>
      </div>

      <div class="col-sm-3">
        <h4 style="border-bottom: 1px solid #23a7c1;padding-bottom: 8px;font-weight: 200;">Music</h4>
        CD<br>
        Download<br>
      </div>

    </div>
  </div>

</div>

</body>
</html>