<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site.brand') %></title>
    <meta charset='utf-8' content='text/html' http-equiv='Content-Type'>
    <meta content='LaunchBro description.' name='Description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'respond.min', 'data-turbolinks-track' => true %>
    <![endif]-->
  </head>
  <body>

  <%= render 'layouts/nav' %>

  <div class="sections-wrapper">
    <% @departments.each do |dept| %>
      <div class="section-heading <%= dept.name %>-colour">
        <a href="<%= department_path(dept) %>">
          <i class="glyphicon glyphicon-<%= dept.name %>"></i>
          <span><%= t("dept.#{dept.name}") %></span>
        </a>
      </div>
    <% end %>
  </div>

  <div style="display: block;clear: both;">

  <% if notice.present? %>
    <div class="alert alert-success alert-dismissable site-wide-alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %>
    </div>
  <% elsif alert.present? %>
    <div class="alert alert-danger alert-dismissable site-wide-alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= alert %>
    </div>
  <% end %>

  </div>

  <%= yield %>

  <%= render 'layouts/footer' %>

  </body>
</html>